header {
  border-bottom: 1px solid #beb4b4;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #2c2d2e;
}

ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;

  li {
    transition: all ease-in-out 0.3s;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;

    a {
      font-size: 20px;
      font-weight: 400;
      color: #2c2d2e;
      text-decoration: none;
      padding: 0.5rem 1rem;
      border-radius: 20px;
      transition: background-color 0.15s, color 0.15s;

      &:hover {
        background-color: #e9ecef;
        color: #007bff;
      }

      &.active {
        background-color: #DDE8F8;
        color: #005ff9;
      }
    }
  }
}


